#accounting-wrapper.Grid.p1.overflow-y-auto
  #accounting-left-part.Grid-cell-fixed-1of4.overflow-y-auto.p1
    .panel.panel-primary.left-part-panel
      .panel-heading Фильтр данных учёта
      .panel-body
        // DATE FILTER
        // Start date
        .Grid.Grid--center
          .Grid-cell--autoSize.Grid-cell-label-padding-right
            label Начало периода:
          .Grid-cell.date-input
            .input-group
              input.form-control(type='text', uib-datepicker-popup='{{format}}', ng-model='dtStart',
              is-open='isStartPickerOpened', datepicker-options='dateOptions', max-date='dtFinish',
              alt-input-formats="altInputFormats")
              span.input-group-btn
                button.btn.btn-default(type='button', ng-click='isStartPickerOpened = true')
                  i.glyphicon.glyphicon-calendar
        // Finish date
        .Grid.Grid--center.mt1
          .Grid-cell--autoSize.Grid-cell-label-padding-right
            label Конец периода:&nbsp;&nbsp;
          .Grid-cell.date-input
            .input-group
              input.form-control(type='text', uib-datepicker-popup='{{format}}', ng-model='dtFinish',
              is-open='isFinishPickerOpened', datepicker-options='dateOptions', min-date='dtStart',
              alt-input-formats="altInputFormats")
              span.input-group-btn
                button.btn.btn-default(type='button', ng-click='isFinishPickerOpened = true')
                  i.glyphicon.glyphicon-calendar
        .text-center.mt2
          button.btn.btn-primary(ng-click="onShowBtnClick()") Показать данные учета
        //.text-center.mt1
        //  button.btn.btn-success(ng-click="onGetBtnClick()") Получить данные учета
    .panel.panel-info.left-part-panel
      .panel-heading
        .Grid
          .Grid-cell--autoSize ИТОГО
          .Grid-cell.text-right {{ $rootScope.dateStart.toDate() | date:'dd.MM.yyyy' }} - {{ $rootScope.dateFinish.toDate() | date:'dd.MM.yyyy' }}
      .panel-body
        .Grid.Grid--center
          .Grid-cell.total-tbl-name-cell Дней в фильтре
          .Grid-cell.Grid-cell--autoSize.total-tbl-value-cell {{ totalDays }}
          .Grid-cell.Grid-cell--autoSize.total-tbl-unit-cell(ng-show="totalDays !== undefined") дн.
        .Grid.Grid--center
          .Grid-cell.total-tbl-name-cell Пассажиропоток
          .Grid-cell.Grid-cell--autoSize.total-tbl-value-cell {{ totalPassFlow }}
          .Grid-cell.Grid-cell--autoSize.total-tbl-unit-cell(ng-show="totalPassFlow !== undefined") чел.
        .Grid.Grid--center
          .Grid-cell.total-tbl-name-cell Пассажирооборот
          .Grid-cell.Grid-cell--autoSize.total-tbl-value-cell {{ totalTurnover | number:1 }}
          .Grid-cell.Grid-cell--autoSize.total-tbl-unit-cell(ng-show="totalTurnover !== undefined") пасс*км
        .Grid.Grid--center
          .Grid-cell.total-tbl-name-cell Обслужено ЕСЭК и билетов
          .Grid-cell.Grid-cell--autoSize.total-tbl-value-cell {{ totalServed }}
          .Grid-cell.Grid-cell--autoSize.total-tbl-unit-cell(ng-show="totalServed !== undefined") шт.
        .Grid.Grid--center
          .Grid-cell.total-tbl-name-cell Нельготных поездок
          .Grid-cell.Grid-cell--autoSize.total-tbl-value-cell {{ totalFullyPaid }}
          .Grid-cell.Grid-cell--autoSize.total-tbl-unit-cell(ng-show="totalFullyPaid !== undefined") шт.
        .Grid.Grid--center
          .Grid-cell.total-tbl-name-cell Льготных поездок
          .Grid-cell.Grid-cell--autoSize.total-tbl-value-cell {{ totalPrivileged }}
          .Grid-cell.Grid-cell--autoSize.total-tbl-unit-cell(ng-show="totalPrivileged !== undefined") шт.
  #accounting-right-part.Grid-cell.Grid-cell-padding-left.p1
    // STAT SWITCH
    #stat-switch.Grid.Grid--center
      .Grid-cell.text-large Динамика пассажирских перевозок
      .Grid-cell.Grid-cell-padding-left
        .btn-group
          label.btn.btn-primary(ng-model='$rootScope.statType', uib-btn-radio="'common'", ng-click="onStatCommonBtnClick()") Общая
          label.btn.btn-primary(ng-model='$rootScope.statType', uib-btn-radio="'privileges'", ng-click="onStatPrivilBtnClick()") По категориям
          label.btn.btn-primary(ng-model='$rootScope.statType', uib-btn-radio="'cards'", ng-click="onStatCardBtnClick()") По картам
    // DATA DISPLAY SWITCH
    #data-display-switch.section-margin-bottom
      label.radio-inline Таблица
        input(type='radio', name='dataDisplayRadio', value='table',
        ng-model="$rootScope.dataDisplay", ng-change="onDataDispChanged()")
      label.radio-inline График
       input(type='radio', name='dataDisplayRadio', value='chart',
       ng-model="$rootScope.dataDisplay", ng-change="onDataDispChanged()")
    // DATA DISPLAY
    #data-display
      .ui-view
      //pre {{ $rootScope.statType }}
      //pre {{ $rootScope.dataDisplay }}
